@import url(common.css);

.contWrap{ width:100%; height:auto; background-color:#efefef; }
.contWrap::after{content:""; clear:both; display:block; }

.titleBox{ position:relative; width:25%; height:auto; margin:0 auto; padding:8% 0; /*outline:1px solid red;*/ }
.titleBox::after{content:""; clear:both; display:block; }
.div{ position:absolute; top:50%; transform:translateY(-50%); width:31%; height:auto; padding:14% 0; border:1.5px solid #ccc; /*outline:1px solid red;*/ }
.div01{ border-right:none; left:0; }
.div03{ border-left:none; right:0; }
.div02{ top:50%; left:50%; transform:translate(-50%, -50%); width:auto; height:auto; text-align:center; border:none; padding:0 4%; /*outline:1px solid red;*/ }
.div02>p{  font:bold 2.4rem/4.5rem 'NanumGothic'; color:#535353;  }

.tabs{ width:90%; height:auto; margin:0 auto;  /*outline:1px solid blue;*/ }
.tabs::after{content:""; clear:both; display:block; }
.memberBox{ width:100%; height:auto; margin:0 auto; /*outline:1px solid red;*/ }
.memberButton{ width:19.2%; height:auto; margin-right:1%; text-align:center; background-color:#e4e4e4; font:normal 1.3rem/4.5rem 'NanumGothic'; color:#535353; /*outline:1px solid green;*/ }
.memberButton01{ background-color:#b6b6b6; color:#fff; }
.memberButton05{ margin-right:0; }
.McontBox{ clear:both; width:100%; height:auto; margin:0 auto; padding:5% 0; /*outline:1px solid black;*/ }
.McontBox::after{content:""; clear:both; display:block; }
.McontsBox{  width:100%; height:auto; /*outline:1px solid gold;*/ }
.McontsBox::after{content:""; clear:both; display:block; }

/*멤버십 소개*/
.membershipCard{ width:17%; padding:5.4% 0; margin:0 auto; margin-bottom:3%; background:url(../images/member01.png)no-repeat center/cover; /*outline:1px solid red;*/ }
.McontsBox01 p{ font:normal 1rem/150% 'NanumGothic'; color:#535353; text-align:center; letter-spacing:0.1rem; }
.McontsBox01 p>span{ color:#657ecf; }
.McontsBox01>aside{ width:70%; height:60%; margin:0 auto; /*outline:1px solid red;*/ }
.McontsBox01>aside::after{content:""; clear:both; display:block; }

/*멤버십 혜택*/
.presentBox{ position:relative; width:70%; height:60%; margin:0 auto; /*outline:1px solid green;*/ }
.presentBox::after{content:""; clear:both; display:block; }
.presentBox p{ font:normal 1rem/180% 'NanumGothic'; color:#535353; /*letter-spacing:0.1rem;*/ }
.presentBox span{ font-weight:bold; }
.present{ position:absolute; width:12%; padding:6.5% 0; background:url(../images/present_icon.png)no-repeat center/cover; right:12%; bottom:0; /*outline:1px solid red;*/ }

/*멤버십 등급*/
.classBox{ width:70%; height:auto; margin:0 auto; padding:5% 0; /*outline:1px solid purple;*/ }
.classBox::after{content:""; clear:both; display:block; }
.classImg{ width:4%; height:auto; padding:3% 0; /*outline:1px solid red;*/ }
.classImg01{ background:url(../images/platinum.png)no-repeat center/cover; }
.classImg02{ background:url(../images/gold.png)no-repeat center/cover; }
.classImg03{ background:url(../images/silver.png)no-repeat center/cover; }
.classImg04{ background:url(../images/bronz.png)no-repeat center/cover; }
.classBox td{text-align:center;  font:normal 1.2rem 'NanumGothic'; color:#535353;/* outline:1px solid red;*/ }
.classBox th{ color:#535353; }


/*멤버십 적립률*/
.storeBox{ width:70%; height:60%; margin:0 auto; /*outline:1px solid green;*/ }
.storeImgBox{ width:35%; height:auto; margin:0 auto; margin-bottom:3%; /*outline:1px solid red;*/ }
.storeImgBox::after{content:""; clear:both; display:block; }
.lineBox{ float:left; width:50%; height:100%; /*outline:1px solid gold;*/ }
.lineBox>p{ text-align:center; font:bold 1.2rem 'NanumGothic'; color:#535353; }
.offline{ width:60%; padding:29.3% 0; background:url(../images/store_icon.png)no-repeat center/cover; margin:0 auto; margin-bottom:8%; /*outline:1px solid red;*/ }
.online{ width:60%; padding:29.3% 0; background:url(../images/online_icon.png)no-repeat center/cover; margin:0 auto; margin-bottom:8%; /*outline:1px solid red;*/ }
.storeBox>p{ font:normal 1rem/180% 'NanumGothic'; color:#535353; }
.storeBox>p:nth-child(2){ line-height:130%; }
.storeBox>p>span{ font-size:0.8rem; }

/*멤버십 가입*/
.joinBox{ position:relative; width:70%; height:60%; margin:0 auto; /*outline:1px solid gold;*/ }
.joinBox::after{content:""; clear:both; display:block; }
.join{ position:absolute; width:17%; padding:7% 0; background:url(../images/join_icon.png)no-repeat center/cover; right:23%; bottom:0; /*outline:1px solid red;*/ }
.joinBox p{ font:normal 1rem/180% 'NanumGothic'; color:#535353; /*letter-spacing:0.1rem;*/ }
.joinBox p:nth-child(4){ line-height:130%; }
.joinBox p>span{ font-size:0.8rem; margin-left:2%; }
